body{
    background-color: black;
    text-align: center;
}

#title{
    color: white;
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;

}

#subtitle{
    color: white;
    font-size: 40px;

}


#content{
    position: relative;
}

#photo{
    position: absolute;
    left:30px;
    
}

#words{
    position: absolute;
    left: 600px;  
    color: white;
    align-items: center;
    font-size: 25px;
    
}